# This file contains common pin mappings for the BIGTREETECH SKR CR6
# V1.0. To use this config, the firmware should be compiled for the
# STM32F103 with a "28KiB bootloader" and USB communication. Also,
# select "Enable extra low-level configuration options" and configure
# "GPIO pins to set at micro-controller startup" to "!PA14".

# The "make flash" command does not work on the SKR CR6. Instead,
# after running "make", copy the generated "out/klipper.bin" file to a
# file named "firmware.bin" on an SD card and then restart the SKR
# CR6 V1.0 with that SD card.

# See docs/Config_Reference.md for a description of parameters.

[include CR6.cfg]
[include generic.cfg]
[include inputShaper.cfg]

[stepper_x]
step_pin: PB13
dir_pin: !PB12
enable_pin: !PB14
microsteps: 64
rotation_distance: 40
endstop_pin: PC0
position_min: -5
position_endstop: -5
position_max: 235
homing_speed: 50

[tmc2209 stepper_x]
uart_pin: PC11
tx_pin: PC10
run_current: 0.580
hold_current: 0.450
stealthchop_threshold: 999999
uart_address: 0

[stepper_y]
step_pin: PB10
dir_pin: PB2
enable_pin: !PB11
microsteps: 64
rotation_distance: 40
endstop_pin: PC1
position_min: -2
position_endstop: -2
position_max: 235
homing_speed: 50

[tmc2209 stepper_y]
uart_pin: PC11
tx_pin: PC10
uart_address: 2
run_current: 0.58
hold_current: 0.450
stealthchop_threshold: 999999

[stepper_z]
step_pin: PB0
dir_pin: !PC5
enable_pin: !PB1
microsteps: 64
rotation_distance: 8
endstop_pin: probe:z_virtual_endstop
position_min: -1.0
position_max: 250
homing_speed: 5
second_homing_speed: 1
homing_retract_dist: 2.0

[tmc2209 stepper_z]
uart_pin: PC11
tx_pin: PC10
uart_address: 1
run_current: 0.550
hold_current: 0.450
stealthchop_threshold: 999999

[probe]
pin: PC14
x_offset: 0.0
y_offset: 0.0
z_offset: -0.10
speed: 1
lift_speed: 5
samples_tolerance: 0.05
samples_tolerance_retries: 2
samples: 5
activate_gcode:
	TARE_PROBE
# deactivate_gcode:
# 	M104 S150

[output_pin probe_tare]
pin: !PA1
value: 1

[output_pin probe_enable]
pin: PC2

[extruder]
max_extrude_only_distance: 1000.0
step_pin: PB3
dir_pin: !PB4
enable_pin: !PD2
microsteps: 64

# stock extruder
rotation_distance: 30.4768

# Orbiter extruder
#gear_ratio: 7.5:1
#rotation_distance: 34.783
# rotation_distance: 4.61095      #Orbiter extruder without gear_ratiio

# BMG extruder
# gear_ratio: 3:1
# rotation_distance: 23.132

nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PC8
sensor_type: EPCOS 100K B57560G104F    #default CR-6 thermistor
#sensor_type: Honeywell 100K 135-104LAG-J01
sensor_pin: PA0
control: pid
pid_Kp: 15.8
pid_Ki: 0.6
pid_Kd: 100
min_temp: 0
max_temp: 320
pressure_advance: 0.065

[tmc2209 extruder]
uart_pin: PC11
tx_pin: PC10
uart_address: 3
run_current: 0.6
hold_current: 0.4
stealthchop_threshold: 999999

[heater_bed]
heater_pin: PC9
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC3
control: pid
pid_Kp: 70
pid_Ki: 1
pid_Kd: 1000
min_temp: 0
max_temp: 120

[fan]
pin: PC6
hardware_pwm: True
kick_start_time: 0.5

[controller_fan mainboard_fan]
pin: PC7
hardware_pwm: True

[filament_switch_sensor filament_sensor]
pause_on_runout: true
switch_pin: ^!PC15

[output_pin hotend_LED]
pin: PA13
value: 0

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f103xe_000000000000000000000000-if00
restart_method: command

[printer]
kinematics: cartesian
max_velocity: 350
max_accel: 500
max_accel_to_decel: 500
square_corner_velocity: 5
max_z_velocity: 5
max_z_accel: 100

[gcode_arcs]

[static_digital_output usb_pullup_enable]
pins: !PA14

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  0.121500, 0.026500, -0.123500, -0.061000, -0.003000, 0.003500
#*# 	  0.074000, 0.024500, -0.052500, -0.088500, -0.003000, 0.008000
#*# 	  0.015500, -0.037000, -0.051000, -0.033500, -0.008000, -0.018500
#*# 	  -0.040000, -0.076000, -0.131500, -0.178000, -0.244500, -0.054500
#*# 	  -0.079500, -0.038000, -0.157500, -0.098500, -0.129500, -0.051500
#*# 	  -0.071500, -0.112000, -0.193500, -0.139000, -0.120000, -0.138000
#*# tension = 0.2
#*# min_x = 5.0
#*# algo = lagrange
#*# y_count = 6
#*# mesh_y_pps = 2
#*# min_y = 5.0
#*# x_count = 6
#*# max_y = 230.0
#*# mesh_x_pps = 2
#*# max_x = 230.0
#*#
#*# [extruder]
#*#
#*# [heater_bed]
